@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@theme {
  --color-brand: #3b82f6;
  --color-brand-contrast: #ffffff;
  --color-brand-bg: #eff6ff;

  --font-sans: "Pretendard", ui-sans-serif, system-ui;
}

@custom-variant dark (&:where(.dark, [data-theme="dark"], @media (prefers-color-scheme: dark)));

@layer base {
  .dark {
    --color-brand: #f97316;
    --color-brand-contrast: #1a1a1a;
    --color-brand-bg: #1a1a1a;
  }
}

body {
  @apply bg-brand-bg text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply text-slate-100;
}